@using AmplaWeb.Sample.BootstrapSupport

@model IList<AmplaWeb.Sample.Models.IngotCastModel>

@{
    ViewBag.Title = "Select Cast";
}

<h4>@Model.GetLabel() <small>Select</small></h4>

<p>Select the cast: </p>
<ul>
    @foreach (var model in Model)
    {
        <li>@Html.ActionLink(model.CastNo ?? "Cast", "Bundles", model.GetIdValue())</li>
    }
</ul>


