@model AmplaWeb.Data.Records.AmplaAuditSession

<tr class="info">
    <td > <i class="icon-user icon-white"> </i> @Html.DisplayFor(model => model.User)</td>
    <td >@Html.DisplayFor(model => model.EditedTime)</td>
</tr>
@foreach (var field in Model.Fields)
{
    Html.RenderPartial("_HistoryFields", field);
}
        


