
@if (Request.IsAuthenticated)
{
    <div>
        <li class="dropdown" >
            <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i> @User.Identity.Name <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Details", "User", "Account")</li>
                <li><a href="javascript:document.getElementById('logoutMenuForm').submit()">Logout</a></li>            
            </ul>
        </li>
    </div>
    <div class="hidden"> 
        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutMenuForm" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>
}
else
{
    <div>
        <li >
            <a class="btn btn-info" href="@Url.Action("Login", "Account")"><i class="icon-user"></i> Login </a>
        </li>
    </div>
}