@using AmplaWeb.Data.Binding.MetaData
@using AmplaWeb.Data.Display
@using AmplaWeb.Sample.BootstrapSupport   

@model object

<table class="table table-bordered table-striped table-condensed">
    @foreach(var property in Model.VisibleProperties())
    {
        <tr>
            <td class="text-info">
                @property.GetLabel().ToSeparatedWords()
            </td>
            <td>
                @Html.Display(property.Name)                
            </td>
        </tr>
    }
</table>