@model AmplaData.Records.AmplaAuditField

<tr>
    <td rowspan="2" class="text-info">@Html.DisplayFor(model => model.Name)</td>
    <td> <i class="icon-minus"> </i> </td>
    <td>
        @Html.DisplayFor(model => model.OriginalValue) 
    </td>
</tr>
<tr>
    <td> <i class="icon-plus"> </i> </td>
    <td>
        @Html.DisplayFor(model => model.EditedValue) 
    </td>
</tr>


