<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfiguration" maxBufferSize="1073741824"
          maxReceivedMessageSize="1073741824" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBindingConfiguration" maxBufferSize="1073741824"
          maxReceivedMessageSize="1073741824" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBindingConfiguration" maxBufferSize="1073741824"
          maxReceivedMessageSize="1073741824">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8889/Ampla/Data/2008/06/Soap11"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfiguration"
        contract="AmplaData2008.IDataWebService" name="BasicHttpBinding_IDataWebService" />
      <endpoint address="net.tcp://localhost/Ampla/Data/2008/06/Tcp"
        binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfiguration"
        contract="AmplaData2008.IDataWebService" name="NetTcpBinding_IDataWebService">
        <identity>
          <userPrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8889/Ampla/WebService/Security/2007/06"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfiguration"
        contract="AmplaSecurity2007.ISecurityWebService" name="BasicHttpBinding_ISecurityWebService" />
    </client>
  </system.serviceModel>
</configuration>