<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfiguration"
                 maxBufferSize="1073741824"
                 maxReceivedMessageSize="1073741824" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBindingConfiguration"
                 maxBufferSize="1073741824"
                 maxReceivedMessageSize="1073741824">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBindingConfiguration"
                 maxBufferSize="1073741824"
                 maxReceivedMessageSize="1073741824" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8889/Ampla/Data/2008/06/Soap11"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfiguration"
          contract="AmplaData2008.IDataWebService" name="BasicHttpBinding_IDataWebService" />
      <endpoint address="net.tcp://localhost/Ampla/Data/2008/06/Tcp"
          binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfiguration"
          contract="AmplaData2008.IDataWebService" name="NetTcpBinding_IDataWebService">
        <identity>
          <userPrincipalName value=""/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>